:root {
  --main-tittle-color: #212121;
  --tittle-text-color: #757575;
  --accent-color:      #2196f3;
    --first-text-color:  #2F303A;
  --second-text-color: #F5F4FA;
  --third-text-color: #E5E5E5;
  --fourth-text-color: #ffffff;
  --fifth-text-color: rgba(255, 255, 255, 0.6);
  --sixth-text-color: #AFB1B8;
}
